version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: :mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    volumes:
      - ./db/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - three-tier
  
  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    networks:
      - three-tier
  
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - three-tier

networks:
  three-tier:

      